<% if @items.size > 0 %>
<ul id="item-list" class="items">
<% @items.each do |item| %>
  <li id="item-<%= item.id %>" class="item <%= item.object %>">
    <%= render :partial => item.object, :object => item %>
  </li>
<% end -%>
</ul>
<% end -%>